@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--black);
}

a {
  font-family: inherit, sans-serif;
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.ant-select-selector,
.ant-select-item-option-content {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
}

.ant-select-focused .ant-select-selector {
  border-color: var(--violet) !important;
}

.ant-input {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif !important;
}
.ant-input:focus,
.ant-input-focused,
.ant-input:hover,
.ant-input-disabled {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  background-color: transparent !important;
}
