.content {
  height: 60px;
  position: relative;
  width: 100%;
  display: flex;
}

.input {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  border: 1px solid var(--dark-gray);
  transition: border-color 0.2s ease;
  outline: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;

  &WithIcon {
    padding-inline: 3rem 1rem;
  }

  &Error {
    border-color: var(--red);

    & ~ .icon,
    & ~ .label {
      color: var(--red) !important;
    }
  }

  &::placeholder {
    opacity: 0;
  }

  &:focus {
    outline: none;

    & ~ .icon,
    ~ .eye {
      color: var(--black);
    }
  }

  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label {
    color: var(--violet);
    padding-inline: 6px;
    top: 0;
  }

  &:focus {
    border-color: rgba(107, 88, 213, 0.3);
  }
}

.label {
  margin-bottom: 4px;
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  color: var(--gray);
  z-index: 2;
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: var(--white);

  &WithIcon {
    padding-left: 1.6rem;
  }
}

.error {
  color: var(--red);
  font-size: 12px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}
